
<% @events.each do |e|%>
        <div class="events">
            <img class="profile_avatar" src="<%= Gravatar.new(e.creator_email).image_url %>">
                <p class="event_info">Come join <strong><%= e.creator_name %></strong><br/>
                </p>
            <div class="event_content">
                <ul class="info">
                    <li> When: <%= e.time.strftime("%Y-%d-%m") %></li>
                    <li> Where: <%= e.restaurant.name %></li>
                    <li> What: <%= e.restaurant.type_of_food %></li>
                    <li> Why: <%= e.description %></li>
                </ul>

                <a class="attend_button" href="/events/<%=e.id%>/join">Attend This</a>
                 
                <div class="attendee_list">
                    <h3>Who's Going:</h3>
                   <%e.attendees.each do |a| %>
                    <span class="attendees"><%= a.name %></span>
                    <% end %>
                </div>
            </div>  
        </div>
<% end %>
